<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Kode is a Premium Bootstrap Admin Template, It's responsive, clean coded and mobile friendly">
    <meta name="keywords" content="bootstrap, admin, dashboard, flat admin template, responsive,"/>
    <title><%- locals.title %></title>

    <!-- ========== Css Files ========== -->
    <link href="/css/root.css" rel="stylesheet">
    <style type="text/css">
        body {
            background: #F5F5F5;
        }
    </style>
</head>
<body>

<div class="login-form">
    <form action="#" id="reset-password-form">
        <div class="top">
            <h1>Reset Password</h1>
            <h4>Enter a new password</h4>
        </div>
        <div class="form-area">
            <div class="group">
                <input id="password" type="password" class="form-control" placeholder="Password">
                <i class="fa fa-key"></i>
            </div>
            <div class="group">
                <input id="repeat-password" type="password" class="form-control" placeholder="Password again">
                <i class="fa fa-key"></i>
            </div>
            <button type="submit" class="btn btn-default btn-block">SAVE PASSWORD</button>
        </div>
    </form>
    <div class="footer-links row">
        <div class="col-xs-6"><a href="/login"><i class="fa fa-sign-in"></i> Login</a></div>
        <div class="col-xs-6 text-right"><a href="/register"><i class="fa fa-external-link"></i> Register Now</a></div>
    </div>
</div>

<!-- ================================================
jQuery Library
================================================ -->
<script type="text/javascript" src="/js/jquery.min.js"></script>

<!-- ================================================
Bootstrap Core JavaScript File
================================================ -->
<script src="/js/bootstrap/bootstrap.min.js"></script>

<!-- ================================================
Plugin.js - Some Specific JS codes for Plugin Settings
================================================ -->
<script type="text/javascript" src="/js/plugins.js"></script>

<!-- ================================================
Bootstrap Select
================================================ -->
<script type="text/javascript" src="/js/bootstrap-select/bootstrap-select.js"></script>

<!-- ================================================
Bootstrap Toggle
================================================ -->
<script type="text/javascript" src="/js/bootstrap-toggle/bootstrap-toggle.min.js"></script>

<!-- ================================================
Moment.js
================================================ -->
<script type="text/javascript" src="/js/moment/moment.min.js"></script>

<!-- ================================================
Bootstrap Date Range Picker
================================================ -->
<script type="text/javascript" src="/js/date-range-picker/daterangepicker.js"></script>
<script src="/js/socket.js"></script>
<script src="/js/sweetalert2.all.min.js"></script>
<script src="/js/js.cookie.min.js"></script>

<script> var thisUrl = location.protocol + '//' + location.host;
    var socket = io.connect(thisUrl);

    Number.prototype.trimNum = function (places, rounding) {
        rounding = rounding || "round";
        var num = parseFloat(this), multiplier = Math.pow(10, places);
        return (Number(Math[rounding](num * multiplier) / multiplier));
    }

</script>

<script>
    $('#reset-password-form').submit(function (event) {
        event.preventDefault();
        var obj = {
            token: '<%- locals.token %>',
            password: document.getElementById('password').value,
            repeatPass: document.getElementById('repeat-password').value,
        }
        if (obj.token === '') {
            swal('Error', 'token not found', 'error');
        } else {
            socket.emit('reset-password', obj, function (error, answer) {
                if (error) {
                    swal('Error', error, 'error');
                } else {
                    swal({
                        title: 'Success',
                        type: 'success',
                        text: 'Your password is updated and saved.',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(res => {
                        Cookies.set('password', obj.password, {secure: false});
                        window.location.href = '/'
                    });
                }
            });
        }
    })
</script>

</body>
</html>